
body {
    max-width: 1024px;
    margin: 32px auto;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

.InfoSection {
    display: flex;
    gap: 32px;
}

.InfoSection__form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 100px;
    flex: 1 0 calc(50% - 16px);
}

.InfoSection__documentation {
    flex: 1 0 calc(50% - 16px);
}

a, button {
    padding: 5px 20px;
    line-height: 15px;
    border-radius: 25px;
    border: 2px solid #000;
    background-color: #fff;
    text-decoration: none;
    text-align: center;
    color: #000;
}

a:hover, button:hover {
    background: #ececec;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

table, td, th {
    border: 1px solid #000;
}

td, th {
    padding: 0 16px;
}

#transformWrapper {
    z-index: -1;
    position: relative;
}
