
body {
    max-width: 1024px;
    margin: 32px 128px;
    font-family: Avenir, Arial, Helvetica, sans-serif;
}

#imageForm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 500px;
    margin-bottom: 100px;
}

button {
    padding: 5px 20px;
    line-height: 15px;
    border-radius: 25px;
    border: 2px solid #000;
    background-color: #fff;
}

button:hover {
    background: #ececec;
    cursor: pointer;
}

#transformWrapper {
    z-index: -1;
    position: relative;
}
